.genre-dialog {
  background-color: #000;
  color: #eee;
}
.genre-dialog-title {
  text-align: center;
  margin-top: 20px;
  padding: 0;
}
.genre-dialog-content {
  color: #eee;
  font-size: 16px;
  text-align: justify;
}
