<nav class="navbar">
  <div class="navbar-logo"></div>
  
  <ul class="navbar-links">
    <li *ngIf="!isLoggedIn()"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isLoggedIn()"><a routerLink="/signup">Sign up</a></li>
    <li *ngIf="isLoggedIn()"><a routerLink="/">Home</a></li>
    <li *ngIf="isLoggedIn()"><a routerLink="/profile">Profile</a></li>
<li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
  </div>
</nav>