<mat-nav-list class="sidenav">
    <a mat-list-item routerLink="/home" *ngIf="isLoggedIn()" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/profile" *ngIf="isLoggedIn()" (click)="onSidenavClose()">
        <mat-icon>account_circle</mat-icon> <span class="nav-caption">Profile</span>
    </a>
    <a mat-list-item (click)="logout()" *ngIf="isLoggedIn()" (click)="onSidenavClose()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
    </a>
    <a mat-list-item routerLink="/profile" *ngIf="!isLoggedIn()" (click)="onSidenavClose()">
        <mat-icon>login</mat-icon> <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item (click)="logout()" *ngIf="!isLoggedIn()" (click)="onSidenavClose()">
        <mat-icon>person_add</mat-icon><span class="nav-caption">Sign up</span>
    </a>
</mat-nav-list>