<div class="mi-container">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="50">
            <mat-card class="mi-imgcard">
                <img class="mi-img" [src]="movie?.ImagePath" [alt]="'Image of ' + movie?.Title"> />
            </mat-card>
        </div>

        <div fxFlex="50">
            <mat-card class="mi-infocard">
                <mat-card-content>
                    <h2 class="card-title">{{ movie?.Title }}</h2>
                    <p class="description">{{movie?.Description}}</p>

                    <p (click)="openGenreDetailsDialog()" class="card-text"><span>Genre:</span> {{movie?.Genre.Name}}
                    </p>
                    <p (click)="openDirectorDetailsDialog()" class="card-text"><span>Director:</span>
                        {{movie?.Director.Name}}</p>
                    <p class="card-text"><span>Release Date:</span> {{ movie?.ReleaseDate | date: 'shortDate' }}</p>
                </mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-evenly" class="btns-col">
                    <button class="backBtn" [routerLink]="['/']">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Go Back
                    </button>
                    <button class="backBtn" (click)="toggleFavourite()">
                        <mat-icon> {{ isFavourite ? 'thumb_down' : 'thumb_up' }}</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="sm-container">
    <h2>You may also like</h2>
    <div fxLayout="row wrap" fxLayoutAlign="center">
        <mat-card class="mc-container" fxFlex="25%" *ngFor="let movie of similarMovies;">
            <a [routerLink]="['/movies', movie._id]">
                <img src={{movie.ImagePath}} alt={{movie.Title}} />
            </a>
        </mat-card>
    </div>
</div>