.director-dialog {
  background-color: #000;
  color: #eee;
}
.director-dialog-title {
  text-align: center;
  padding: 0;
}
.director-dialog-content {
  color: #eee;
  font-size: 16px;
  text-align: justify;
}
