a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.toolbar {
  background-color: #ced4da;
}
.clapper {
  margin-right: 180px;
}
.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 130px;
}
mat-toolbar {
  border-radius: 3px;
}
@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
