<div class="signupBox">
  <h2>Sign up
  </h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <div class="formBox">
      <input type="text" name="username" formControlName="username" required autocomplete="username">
      <label for="username">Username</label>
    </div>

    <div class="formBox">
      <input type="password" name="password" formControlName="password" required autocomplete="password">
      <label for="password">Password</label>
    </div>

    <div class="formBox">
      <input type="email" name="email" formControlName="email" required autocomplete="email">
      <label for="email">Email</label>
    </div>

    <div class="formBox">
      <input type="date" name="birthday" formControlName="birthday" required>
      <label class="birthdayLabel" for="birthday">Birthday</label>
    </div>
    <button id="signupBtn" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Signup
    </button>
  </form>
</div>